.message-content {
  display: inline-block;
  background-color: rgb(38, 131, 245);
  border-radius: 6px;
  padding: 8px;
  color: #fff;
  position: relative;
}

.arrow {
  display: inline-block;
  position: absolute;
  top:8px;
  width: 0;
  height: 0;
  border-width: 6px 12px 6px 12px;
  border-style: solid;
}

.arrow.right{
  right: -24px;
  border-color: transparent transparent transparent rgb(38, 131, 245)
}

.arrow.left{
 left: -24px;
 border-color: transparent rgb(38, 131, 245) transparent transparent
}

.message-content img{
  max-width: 300px;
  max-height: auto;
}