.message.left {
  text-align: left;
}

.message.left .sender-box {
  left: 5px;
  margin: 0 20px 0 10px;
}

.message.right {
  flex-direction: row-reverse;
  align-self: flex-end;
  display: flex;
}

.message.right .sender-box {
 margin: 0 10px 0 10px;
}

.message.left .text {
  background-color: rgb(238, 238, 238)
}

.message {
  margin: 10px;
  display: flex;
}