.container {
  max-width: 300px;
}

.item {
  width: calc(100% - 2px);
  display: flex;
  flex-direction: row;
  height: 60px;
  justify-content: flex-start;
  align-items: center;
  color: rgb(90, 90, 90);
}

.item:hover {
  background-color: rgb(235, 235, 235);
}

.active {
  background-color: rgb(235, 235, 235);
}

.item .avatar-wrapper {
  padding-left: 10px;
  padding-right: 10px;
  height: 40px;
}

.item .name {
  font-size: 18px;
}

.item .avatar-wrapper img {
  max-height: 40px;
  max-width: 40px;
  border-radius: 50%;
}
